[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "WebPower"]
	path = WebPower
	url = https://github.com/johnnyzhz/webpower
[submodule "bmem"]
	path = bmem
	url = https://github.com/cran/bmem
[submodule "bmemLavaan"]
	path = bmemLavaan
	url = https://github.com/cran/bmemLavaan
[submodule "coefficientalpha"]
	path = coefficientalpha
	url = https://github.com/cran/coefficientalpha
[submodule "logistic4p"]
	path = logistic4p
	url = https://github.com/cran/logistic4p
[submodule "rsem"]
	path = rsem
	url = https://github.com/cran/rsem
